header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 25px 50px;
  }
  
  .logo img {
    height: 50px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    position: relative;
    left: 0%;
  }
  
  nav ul li {
    margin-left: 75px;
  }
  
  nav ul li a {
    color: var(--color-white);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 0;
    transition: color 0.3s ease;
    position: relative;
  }
  
  nav ul li a:hover {
    color: #d8e3db;
  }
  
  nav {
    position: relative;
  }
  
  .nav-underline {
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 3px;
    width: 0;
    background-color: white;
    transition: all 0.3s ease;
    border-radius: 2px;
    z-index: 10;
  }